.create-food-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.create-food-container h2 {
  text-align: left;
}

.create-food-container > section button {
  padding: 5px 1rem;
  background-color: rgb(29, 161, 29);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

.create-food-container .loader,
.create-food-container .error {
  padding: 1rem;
  color: white;
  border-radius: 3px;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  width: 100%;
}

.create-food-container .loader {
  background-color: orange;
}

.create-food-container .error {
  background-color: rgb(236, 10, 10);
}

.create-food-container > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
}

.create-food-container > form .image-input {
  position: absolute;
  left: -10000px;
}

.create-food-container > form img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.create-food-container form .preview-image-container {
  display: flex;
  gap: 2rem;
}

.create-food-container form .preview-image-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 2rem 0; */
}

.create-food-container form .preview-image-container div button {
  padding: 5px 1rem;
  font-weight: bold;
  font-size: 1.15rem;
  color: white;
  text-transform: uppercase;
  /* border-radius: 3px; */
}

.create-food-container form .preview-image-container div button:first-child {
  background-color: rgb(241, 162, 14);
  text-shadow: 0 0 1px lightgray;
}

.create-food-container form .preview-image-container div button:last-child {
  background-color: rgb(238, 19, 19);
}

.create-food-container > form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.create-food-container > form input {
  padding: 1.5rem;
  border-radius: 5px;
  outline: 1px solid lightgray;
}

.create-food-container > form > button {
  background-color: rgb(29, 161, 29);
  padding: 1rem 3rem;
  width: max-content;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
