.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-container h2 {
  text-align: left;
}

.dashboard-container .stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.dashboard-container .stats > div {
  padding: 1.5rem;
  background-color: white;
  border-radius: 5px;
}

.dashboard-container .stats .sales-statistics {
  grid-column: 1 / 3;
}

.dashboard-container .stats .visitors-statistics {
  grid-column: 3/ 4;
}

.latest-orders {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}

.latest-orders h3 {
  text-align: left;
  margin-bottom: 1rem;
}

.latest-orders ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid lightgray;
}

.order-name-email {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
